#player-stats {
    position: relative;
}

#player-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

#stats {
    position: absolute;
    bottom: 3%;
    right: 3%;
}


#player-1-info, #player-2-info {
    padding: 1em 1em;
    margin-block-end: 1em;
}

#player-1-info {
    color: var(--main-bg-color);
}

#actions div {
    margin-block-end: 1em;
    padding: 10px;
    border: 1px solid var(--accent-extra-light);
    border-radius: 10px;
}

#actions div p:first-of-type {
    font-weight: bold;
}

#actions input[type="radio"] {
    display: none;
}

#actions input[type="radio"]:checked + div {
    color: var(--main-bg-color);
    background-color: var(--accent-extra-light);
    cursor: pointer;
}

#actions input[type="radio"] + div:hover {
    color: var(--main-bg-color);
    background-color: var(--accent-extra-light);
    cursor: pointer;
}