#player-1-image, #player-2-image {
    height: 40vh;
    object-fit: cover;
}

#player-stats article {
    width: 100%;
}

#actions-and-outcome {
    position: relative;
}

#action-1-image, #action-2-image {
    object-fit: cover;
    width: 200px;
    height: 200px;
    margin: 1em auto;
}

#battle-outcome {
    position: absolute;
    color: var(--main-bg-color);
    padding: 0 1em;
}