@font-face {
    font-family: 'Astloch Regular';
    src: url('../assets/fonts/Astloch/Astloch-Regular.ttf');
}

@font-face {
    font-family: 'Cinzel Decorative Bold';
    src: url('../assets/fonts/Cinzel_Decorative/CinzelDecorative-Bold.ttf');
}

@font-face {
    font-family: 'Open Sans Regular';
    src: url('../assets/fonts/Open_Sans/OpenSans-Regular.ttf');
}

/* font families */

html, button, input {
    font-family: 'Open Sans Regular';
}

h1, h2, h3 {
    font-family: 'Astloch Regular';
}

.logo {
    font-family: 'Cinzel Decorative Bold';
}

/* font sizes & default margins */

h1 {
    font-size: 2em;
    margin: .5em auto;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.5em;
}

.logo {
    font-size: 3.5em;
}

button, input[type="submit"]:not(.big-button), input[type="text"] {
    font-size: 1em;
}

.big-button {
    font-size: 2em;
}